Project.Web/Project.Web/.vs/
Project.Web/Project.Web/Project.Api/bin/
Project.Web/Project.Web/Project.Api/obj/
Project.Web/Project.Web/Project.Common/bin/
Project.Web/Project.Web/Project.Common/obj/
Project.Web/Project.Web/Project.Data/bin/
Project.Web/Project.Web/Project.Data/obj/
Project.Web/Project.Web/Project.Domain/bin/
Project.Web/Project.Web/Project.Domain/obj/
Project.Web/Project.Web/Project.Service/bin/
Project.Web/Project.Web/Project.Service/obj/
Project.Web/Project.Web/Project.Web/bin/
Project.Web/Project.Web/Project.Web/obj/